.g-Grid {
    display: -Webkit-box;
    Width: 100%;
    box-sizing: border-box;
    [class^="g-W"] {
        position: relative;
        overflow: hidden;
        -webkit-box-flex: 1;
    }
    .g-W100 {
        Width: 100%;
    }
    .g-W90 {
        Width: 90%;
    }
    .g-W85 {
        Width: 85%;
    }
    .g-W80 {
        Width: 80%;
    }
    .g-W75 {
        Width: 75%;
    }
    .g-W70 {
        Width: 70%;
    }
    .g-W66 {
        Width: 66.66666%;
    }
    .g-W65 {
        Width: 65%;
    }
    .g-W60 {
        Width: 60%;
    }
    .g-W55 {
        Width: 55%;
    }
    .g-W50 {
        Width: 50%;
    }
    .g-W40 {
        Width: 40%;
    }
    .g-W35 {
        Width: 35%;
    }
    .g-W33 {
        Width: 33.33333%;
    }
    .g-W30 {
        Width: 30%;
    }
    .g-W25 {
        Width: 25%;
    }
    .g-W20 {
        Width: 20%;
    }
    .g-W15 {
        Width: 15%;
    }
    .g-W10 {
        Width: 10%;
    }
    .g-W5 {
        Width: 5%;
    }
}